scrape Toronto Neighborhood data and tranformed into a dataframe

In [1]:
import urllib.request

In [2]:
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [3]:
page=urllib.request.urlopen(url)

In [4]:
from bs4 import BeautifulSoup

In [5]:
soup = BeautifulSoup(page, "html.parser")

In [6]:
all_tables=soup.find_all("table")

In [7]:
right_table=soup.find('table', class_='wikitable sortable')

In [8]:
A=[]
B=[]
C=[]
for row in right_table.findAll("tr"):
    cells=row.findAll("td")
    if len(cells)==3:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))

In [9]:
def remove_useless(lst):
    lst_r=[]
    for i in lst:
        i=i[:-1]
        lst_r.append(i)
    return lst_r

In [10]:
A=remove_useless(A)
B=remove_useless(B)
C=remove_useless(C)

In [11]:
import pandas as pd
df=pd.DataFrame(A,columns=["PostalCode"])
df["Borough"]=B
df["Neigborhood"]=C
df

,PostalCode,Borough,Neigborhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [12]:
df_valid=df[df["Borough"]!="Not assigned"]
df_valid=df_valid.reset_index().drop(["index"],axis=1)
df_valid

,PostalCode,Borough,Neigborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [13]:
for i in range(len(df_valid)):
    if df_valid.loc[i,"Neigborhood"]=="Not assigned":
        df_valid.loc[i,"Neigborhood"]=df_valid.loc[i,"Borough"]

In [14]:
df_valid.shape

(103, 3)

In [15]:
geo_data=pd.read_csv("E:/Coursea/capstone/geo.csv")
geo_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [16]:
geo=pd.DataFrame(columns=geo_data.columns)
for i in A:
    part=geo_data[geo_data["Postal Code"]==i]
    geo=pd.concat([geo,part])
print(geo)

   Postal Code   Latitude  Longitude
25         M3A  43.753259 -79.329656
34         M4A  43.725882 -79.315572
53         M5A  43.654260 -79.360636
71         M6A  43.718518 -79.464763
85         M7A  43.662301 -79.389494
..         ...        ...        ...
90         M8X  43.653654 -79.506944
52         M4Y  43.665860 -79.383160
87         M7Y  43.662744 -79.321558
91         M8Y  43.636258 -79.498509
92         M8Z  43.628841 -79.520999

[103 rows x 3 columns]

In [17]:
lat=geo["Latitude"].values.tolist()
long=geo["Longitude"].values.tolist()

In [18]:
df_valid["Latitude"]=lat
df_valid["Longitude"]=long
df_valid

,PostalCode,Borough,Neigborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.662744,-79.321558
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999

In [19]:
df_valid.shape

(103, 5)